@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}


/* Header - Menu */

.menu-header {
    width: 90%;
    color: #333;
    z-index: 9998;
    overflow: hidden;
    z-index: 9999;
    position: relative;
}

.logo {
    width: 90px;
    margin-left: 10%;
    padding: 10px 0;
    float: left;
}

.logo img {
    width: 200px;
}

.menu {
    float: right;
    line-height: 100px;
    margin-right: 10%;
}

.menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 14px;
}

.menu a:hover {
    color: #caccd1;
}

.show-menu-btn,
.hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn {
    float: right;
}

.show-menu-btn i {
    line-height: 72px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
    color: #3498db;
}

#chk {
    position: absolute;
    visibility: hidden;
    z-index: -1;
}

.bg-todo {
    width: 100%;
    overflow: hidden;
    height: 100vh;
}


/*=== Header ===*/

.header {
    width: 100%;
    overflow: hidden;
    margin-bottom: 90px;
    margin-top: -120px;
    z-index: -1;
}

.header-back {
    min-height: 800px;
    position: relative;
    overflow: hidden;
}

.header-content {
    margin: 0 auto;
    overflow: hidden;
    margin-top: 140px;
}


/**/

.banner-content-img {
    position: absolute;
    right: 20px;
    top: 120px;
    max-width: 50%;
    z-index: 9;
}

.banner-content-img img {
    max-width: 90%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

.header-lg {
    margin-left: 13%;
    margin-top: 5%;
    z-index: 9999;
    width: 63%;
}

.header-lg-text {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 999;
}

.header-lg-text h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    color: #fff;
    line-height: 70px;
    font-weight: 300;
    letter-spacing: 0;
    animation-duration: 2s;
    animation-delay: 1s;
}

.header-lg-text h2 {
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 36px;
    padding: 0 0 30px 0;
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 300;
    animation-duration: 3s;
    animation-delay: 1s;
}

.header-lg-text p {
    width: 82%;
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.5px;
    font-weight: normal;
}

.header-lg-text a {
    color: #fff;
    text-decoration: none;
    border: 1px solid white;
    font-weight: 700;
    display: inline-block;
    min-width: 150px;
    padding: 0 10px;
    height: 42px;
    line-height: 42px;
    border-radius: 42px;
    font-size: 10px;
    letter-spacing: 0.065rem;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    animation-duration: 4s;
    animation-delay: 1s;
}

.header-lg-text a:hover {
    cursor: pointer;
    background: #fff;
    color: #333;
}

.header-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-shape img {
    width: 100%;
    max-width: none;
    height: 100%;
    vertical-align: middle;
    border-style: none;
    background-image: linear-gradient(to right top, #5255A8, #595CB5, #333568, #393B75, #27284F);
    animation-duration: 5s;
    animation-delay: 1s;
}


/*=== CONTAINER - CONTENT ===*/

.container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 140px;
}

.content {
    width: 80%;
    margin: 0 auto;
}

.container h3 {
    margin-bottom: 10px;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    color: #232323;
    line-height: normal;
    margin: 0 0 20px;
    font-weight: bold;
    text-align: center;
}

.container h4 {
    font-size: 25px;
}

.container p {
    color: #6f6f6f;
    font-size: 15px;
}

.title-index {
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 3%;
}


/* MÓDULOS */

.content-modulos {
    width: 80%;
    overflow: hidden;
    padding: 0 10%;
}

.index-modulos ul {
    width: 100%;
    overflow: hidden;
}

.index-modulos ul li {
    width: 45%;
    float: left;
    list-style: none;
    text-align: center;
    margin-bottom: 5%;
}

.index-modulos ul li:nth-child(2) {
    float: right;
}

.index-modulos img {
    margin-bottom: 10px;
}

.index-modulos h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.index-modulos p {
    text-align: justify;
}

.list-modulos ul li img {
    width: 7em;
}


/* BENEFICIOS */

.beneficios-index {
    width: 100%;
    overflow: hidden;
}

.beneficios-index ul {
    margin-top: 25px;
}

.beneficios-index ul li {
    position: relative;
    padding: 0 0 8px 40px;
    margin: 0 0 8px 0;
    list-style: none;
}

.beneficios-index ul li i {
    color: #0084e9;
    font-size: 12px;
    background: rgba(0, 132, 233, 0.1);
    margin-right: 12px;
    border-radius: 30px;
    padding: 6px;
    position: absolute;
    left: 0;
    top: 2px;
    line-height: 12px;
}

.beneficios-index ul li p {
    line-height: 20px;
    padding-top: 9px;
}


/* Index Transporte */

.index-transporte .beneficios-text {
    width: 50%;
    float: left;
}

.index-transporte .beneficios-figure {
    width: 30%;
    float: left;
    margin-right: 90px;
}

.index-transporte .beneficios-figure img {
    width: 100%;
    float: left;
}


/* Index Alimentação */

.index-alimentacao .beneficios-figure {
    width: 30%;
    float: right;
    margin-right: 18%;
    margin-top: 7%;
}

.index-alimentacao .beneficios-figure img {
    width: 100%;
    float: left;
}

.index-alimentacao .beneficios-text {
    width: 50%;
    float: left;
}


/* Index Reconhecimento */

.index-reconhecimento .beneficios-text {
    width: 50%;
    float: left;
}

.index-reconhecimento .beneficios-figure {
    width: 30%;
    float: left;
    margin-right: 90px;
}

.index-reconhecimento .beneficios-figure img {
    width: 100%;
    float: left;
}


/* Index Biblioteca */

.index-biblioteca .beneficios-figure {
    width: 30%;
    float: right;
    margin-right: 18%;
    margin-top: 7%;
}

.index-biblioteca .beneficios-figure img {
    width: 100%;
    float: left;
}

.index-biblioteca .beneficios-text {
    width: 50%;
    float: left;
}


/*=== FOOTER ===*/

.footer {
    width: 100%;
    overflow: hidden;
    background-image: url(img/bg-waves-dark.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-left: -2px;
    margin-right: -2px;
}

.footer-content {
    width: 80%;
    margin: 0 auto;
    padding: 70px 0px 60px 0px;
    margin-top: 200px;
    overflow: hidden;
}

.footer-content ul {
    width: 29%;
    padding: 2%;
    float: left;
}

.footer-content ul li {
    list-style: none;
    width: 100%;
    margin-bottom: 5px;
}

.footer-content ul h2 {
    color: #262f3c;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.4;
    margin-bottom: 20px;
}

.footer-content ul p {
    margin-bottom: 10px;
    color: #262f3c;
}

.footer-content ul li a {
    text-decoration: none;
    color: #262f3c;
    line-height: 18pt;
}

.f-logo img {
    width: 120px;
    background-color: #34366B;
    font-family: "Open Sans", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.footer-des {
    text-align: center;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #ebebeb;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 35px 0px 35px 0px;
}

.footer-des {
    width: 0 10%;
}

.fab {
    margin-top: 5px;
    display: inline-block;
    font: normal normal normal 24px/1 FontAwesome;
}

.icon-search:hover {
    cursor: pointer;
}

.f-contato a {
    text-decoration: none;
    color: #0a81ae;
}

.f-contato a:nth-child(2) {
    margin-left: 3%;
    margin-right: 3%;
    color: #0d8da9;
}

.f-contato a:nth-child(3) {
    color: #1697a3;
}


/* Sobre */

.header-sobre {
    width: 100%;
    overflow: hidden;
    background: url(img/email-pattern.png);
    margin-top: -150px;
}

.header-sobre .a0 {
    width: 100%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.6);
    padding: 180px 0 120px;
}

.banner-equipe {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-top: -80px;
    margin-bottom: 5%;
}

.banner-equipe img {
    width: 60%;
}

.sobre {
    margin-bottom: 35px;
}

.sobre p {
    margin-bottom: 10px;
}

.img-equipe {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 5%;
}

.img-equipe ul {
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.img-equipe ul li {
    width: 48%;
    float: left;
    list-style: none;
}

.img-equipe ul li:nth-child(2),
.img-equipe ul li:nth-child(4) {
    margin-left: 2%;
}

.img-equipe ul li img {
    width: 100%;
}


/*=== PÁGINAS ===*/

.header-page {
    width: 100%;
    min-height: 460px;
    position: relative;
    background-image: linear-gradient(to right top, #051937, #004a6d, #008190, #31b99c, #a8ec99);
    top: -120px;
}

.header-page-content {
    width: 80%;
    margin: 0 auto;
}

.header-page-content h1 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding-top: 180px;
    text-align: center;
}

.header-page-shape {
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
}

.header-page-shape img {
    width: 100%;
}


/* Mais Funcionalidades */

.mais-funcionalidade {
    margin-bottom: 0;
}

.mais-funcionalidade ul {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.mais-funcionalidade ul li {
    width: 18%;
    margin-right: 2%;
    list-style: none;
    float: left;
    margin-bottom: 20px;
}

.mais-funcionalidade ul li:nth-child(1),
.mais-funcionalidade ul li:nth-child(5),
.mais-funcionalidade ul li:nth-child(9),
.mais-funcionalidade ul li:nth-child(13) {
    margin-left: 10%;
}

.mais-funcionalidade ul li:nth-child(4),
.mais-funcionalidade ul li:nth-child(8),
.mais-funcionalidade ul li:nth-child(12),
.mais-funcionalidade ul li:nth-child(15) {
    margin-right: 10%;
}

.func-figure {
    margin-top: -55px;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin: auto;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
    animation: one-animated 8s infinite;
    margin-bottom: 40px;
    background: linear-gradient(to right top, #4070B7, #5FA69B);
    width: 80px;
}

.func-figure img {
    width: 36px;
}

.func-text {
    width: 78%;
    float: right;
    padding: 30px;
    border-radius: 25px;
    margin-top: 40px;
    height: auto;
    transition: all .3s ease-out;
}

.func-text:hover {
    -webkit-transform: translate(0, -10px);
    -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.18);
}

.func-text h4 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.func-text p {
    color: #333;
    text-align: justify;
}

.borda1 {
    position: relative;
    margin-top: -209px;
    margin-left: -40px;
}

@media only screen and (max-width: 1369px) {
    /* Header */
    .header {
        min-height: 100vh;
    }
    .header-back {
        min-height: 100vh;
    }
    /* Mais Funcionalidade */
    .mais-funcionalidade ul li {
        width: 25%;
    }
    .mais-funcionalidade ul li:nth-child(1),
    .mais-funcionalidade ul li:nth-child(9),
    .mais-funcionalidade ul li:nth-child(13) {
        margin-left: 10%;
    }
    /* Removendo todos */
    .mais-funcionalidade ul li:nth-child(4),
    .mais-funcionalidade ul li:nth-child(8),
    .mais-funcionalidade ul li:nth-child(12),
    .mais-funcionalidade ul li:nth-child(15) {
        margin-right: 0;
    }
    .mais-funcionalidade ul li:nth-child(5),
    .mais-funcionalidade ul li:nth-child(9),
    .mais-funcionalidade ul li:nth-child(12) {
        margin-left: 0;
    }
    .mais-funcionalidade ul li:nth-child(3),
    .mais-funcionalidade ul li:nth-child(6),
    .mais-funcionalidade ul li:nth-child(9),
    .mais-funcionalidade ul li:nth-child(12),
    .mais-funcionalidade ul li:nth-child(15) {
        margin-right: 10%;
    }
    .mais-funcionalidade ul li:nth-child(4),
    .mais-funcionalidade ul li:nth-child(7),
    .mais-funcionalidade ul li:nth-child(10) {
        margin-left: 10%;
    }
}

@media only screen and (max-width: 1077px) {
    /* Footer */
    .footer-content ul {
        width: 100%;
        overflow: hidden;
        text-align: center;
    }
}

@media only screen and (max-width: 836px) {
    /* Header */
    .header {
        margin-bottom: 0;
    }
    .header-content {
        margin-top: 17%;
    }
    .header-back {
        min-height: 80vh;
    }
    .header-lg {
        margin-top: 3%;
    }
    .header-lg-text h1 {
        font-size: 36px;
        line-height: 28px;
    }
    .header-lg-text h2 {
        font-size: 15px;
        line-height: 14px;
        margin-top: 7px;
        padding: 0 0 11px 0;
    }
    .header-lg-text a {
        padding: 0;
        min-width: 115px;
    }
    .header-shape {
        height: 103%;
        top: 0;
    }
    .header-shape img {
        margin-top: 20px;
        width: 143%;
        height: 88%;
        margin-left: -40px;
    }
    .title-index {
        width: 100%;
    }
    .index-transporte .beneficios-figure,
    .index-alimentacao .beneficios-figure,
    .index-reconhecimento .beneficios-figure,
    .index-biblioteca .beneficios-figure {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
    .index-transporte .beneficios-figure img,
    .index-alimentacao .beneficios-figure img,
    .index-reconhecimento .beneficios-figure img,
    .index-biblioteca .beneficios-figure img {
        width: 60%;
        margin: 0 auto;
        float: none;
    }
    .index-transporte .beneficios-text,
    .index-alimentacao .beneficios-text,
    .index-reconhecimento .beneficios-text,
    .index-biblioteca .beneficios-text {
        width: 100%;
        margin-top: 40px;
    }
    /* Mais Funcionalidade */
    .mais-funcionalidade ul li {
        width: 44%;
    }
    .mais-funcionalidade ul li:nth-child(1) {
        margin-left: 5%;
    }
    .mais-funcionalidade ul li:nth-child(2),
    .mais-funcionalidade ul li:nth-child(4),
    .mais-funcionalidade ul li:nth-child(6),
    .mais-funcionalidade ul li:nth-child(8),
    .mais-funcionalidade ul li:nth-child(10),
    .mais-funcionalidade ul li:nth-child(12),
    .mais-funcionalidade ul li:nth-child(14) {
        margin-right: 5%;
    }
    .mais-funcionalidade ul li:nth-child(3),
    .mais-funcionalidade ul li:nth-child(5),
    .mais-funcionalidade ul li:nth-child(7),
    .mais-funcionalidade ul li:nth-child(9),
    .mais-funcionalidade ul li:nth-child(11),
    .mais-funcionalidade ul li:nth-child(13) {
        margin-left: 5%;
    }
    .mais-funcionalidade ul li:nth-child(3),
    .mais-funcionalidade ul li:nth-child(9) {
        margin-right: 2%;
    }
    .mais-funcionalidade ul li:nth-child(4),
    .mais-funcionalidade ul li:nth-child(6),
    .mais-funcionalidade ul li:nth-child(8),
    .mais-funcionalidade ul li:nth-child(10),
    .mais-funcionalidade ul li:nth-child(12),
    .mais-funcionalidade ul li:nth-child(14) {
        margin-left: 0;
    }
    .mais-funcionalidade ul li:nth-child(15) {
        margin-right: 0;
    }
}

@media screen and (max-width: 800px) {
    /* Menu */
    .show-menu-btn,
    .hide-menu-btn {
        display: block;
    }
    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
        margin-right: 0;
    }
    .menu a {
        display: block;
        padding: 20px;
        color: #fff !important;
    }
    .hide-menu-btn {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked~.menu {
        right: 0;
    }
    .hide-menu-btn i {
        color: #fff;
    }
}

@media only screen and (max-width: 665px) {
    /* Header */
    .header {
        min-height: 60vh;
    }
    .header-back {
        min-height: 61vh;
    }
    .header-content {
        margin-top: 118px;
    }
    .header-lg {
        margin-left: 7%;
    }
    .header-lg-text {
        max-width: 80.333333%;
    }
    .header-lg-text h1 {
        font-size: 29px;
    }
    .header-lg-text h2 {
        font-size: 12px;
    }
    .banner-content-img {
        right: -3%;
    }
    /* Módulos */
    .index-modulos ul li {
        width: 100%;
        float: none;
        margin-bottom: 40px;
    }
    /* Mais Funcionalidade */
    .mais-funcionalidade ul li {
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 40px;
    }
    .func-text {
        float: none;
        margin: 0 auto;
    }
}
